@charset "utf-8";

@import "bourbon/bourbon";
@import "neat/neat";


#body{
	@include outer-container();
	background-color: #DDDDDD;	
	color: #000000;
}

#header{
	@include span-columns(12);
	font-family: Georgia, serif;
	font-size: 2em;
	text-align: center;
}

#main{
	text-align: left;
	font-size: 1.25em;
}

#links{
	@include span-columns(4 of 12);
}

#todos{
	@include span-columns(4 of 12);
}

#notes{
	@include span-columns(4 of 12);
}

#footer{
	@include span-columns(12);
	text-align: center;
}

#links, #todos, #notes{
	@media screen and (max width: 768px){
		@include span-columns(12 of 12);
	}
}

h4{
	text-align: center;
}
